@import '../../Assets/Style/variables';

.modal-content {
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0 0 30px 4px rgba(0, 0, 0, 1);
}

.common-modal {
  background: #1c24302e;

  .modal-header {
    border-color: $secondary-color;

    .modal-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: $black100;
    }

    .btn-close {
      width: 14px;
      height: 14px;
      margin-right: 10px;
      background-image: url(../Icons/Close.svg);
      background-size: auto;
      color: initial;
      border-radius: 6px;
      transition: 0.1s all ease-in;

      &:hover {
        background-color: #cdcdcd7d;
      }

      &:focus {
        box-shadow: 0 0 0 0 transparent;
      }
    }
  }

  .modal-body {
    padding: 40px 40px 20px 40px;

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;
      color: $input-color;
      margin-bottom: 56px;
    }

    span,
    .form-label {
      font-weight: 400;
      // font-size: 14px;
      line-height: 22px;
      color: $input-color;
      display: block;
    }

    textarea {
      width: 100%;
      height: 120px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      border: 1px solid $border-color;
      border-radius: 8px;
      color: $base-color;
      resize: none;
    }
  }

  .modal-footer {
    padding: 32px 40px 40px;
    border: 0;

    button {
      padding: 12px 24px;
      width: 102px;
      height: 48px;
      background: $primary;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      text-align: center;
      color: $white;
    }
  }

  &.EmployeeReview {
    .modal-body {
      padding: 24px 40px 40px !important;

      .modal-body-head {
        margin-bottom: 38px;
      }

      span {
        margin-bottom: 8px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $input-color;

        margin: 0;
      }
    }
  }

  @media (max-width: 576px) {
    .modal-content {
      width: 90%;
      margin: auto;

      .modal-body {
        padding: 20px 20px 0 20px;

        h2 {
          margin-bottom: 20px;
        }
      }

      .modal-footer {
        padding: 16px 20px 20px;
      }
    }

    &.EmployeeReview {
      .modal-content .modal-body {
        padding: 16px 10px 10px !important;
      }
    }
  }
}

.permission-modal {
  width: 700px;

  .offcanvas-header {
    padding: 1rem 3.5rem 1rem 1rem;

    .offcanvas-title {
      flex: 1;
    }

    .btn-close {
      position: absolute;
      right: 20px;
    }
  }

  .form-check {
    align-items: flex-start;

    &-label {
      flex: 1;
      margin-top: -5px;

    }
  }
}